/* Читать далее и Показать все*/
.expand-button {
    position: relative;
    display: block;
    padding-left:24px;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color:#1B1C21;

    &::before {
        content:'';
        position:absolute;
        width: 24px;
        height: 24px;
        left:-5px;
        top:-1px;
        background: url('../../assets/img/expand-button/expand.svg') no-repeat center;
    }

    &.expand-button--rotated::before {
        rotate: 180deg;
    }

}
