.body
{
    font-family: 'TT Lakes';
    margin: 0;
    /* background-color: #f8f8f8; */
}

/* #region SWIPER CSS-PROPS*/

:root {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: #979797;
    --swiper-pagination-bullet-horizontal-gap:6px;
    --swiper-pagination-top:12px;
}

.swiper-slide {
    background: #fff;
    display: flex;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.swiper-pagination {
    position:relative;
}

/* #endregion */


/* ********************* Блоки  */
.modal {
    position: fixed;
    z-index:2;
    height: 100%;
    margin: 0;
    background-color: white;
    min-width: 320px;
    max-width: 440px;

    .modal__action {
        margin-top: 24px;
        margin-left: 16px;

        @media screen and (min-width: 513px) {
            position: absolute;
            top:15px;
            left:-90px;
        }
    }

    /* Заголовок модалки */
    .modal__title {
        padding-left:32px;
        margin-top: 40px;
        margin-bottom:24px;
    }

    /* Обертка для всего, что под заголовком модалок 
    для выравнивания по центру */
    .modal__wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;

        @media screen and (min-width: 513px){
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .fieldset__field {
        display: block;
        padding:12px 16px;
        margin-bottom: 16px;
        width:100%;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        transition: 0.4s ease-in;
        transition-property: border-color;
        font-size: 16px;
        font-family: 'TT Lakes';
        
        &::placeholder {
            color:#B5B6BC;
        }

        &:hover{
            border-color: #7e7e7e;
        }

        
        &.fieldset__field--message {
            height: 118px;
            resize: none;
        }
    }

    /* Описание */
    .modal__description {
        color:#7E7E82;
        font-family: 'TT Lakes Medium';
        font-size: 14px;
        line-height: 16px;
    }

    /* Ссылки в описании */
    .modal__link {
        color:#FF3E79;
    }

    /* Кнопка отправить */
    .modal__send {
        width: 136px;
        height: 32px;
        background: url('components/modal/send.png') transparent;
        margin-top: 19px;
        margin-left: auto;
    }

    /* Модификаторы для модалок */
    
    &.modal--feedback {
        right:0;
        box-shadow: 16px 0px 52px 0px #0E185033;
    }

    &.modal--call {
        right:0;
        box-shadow: 16px 0px 52px 0px #0E185033;
    }
}

/* Блок title для hero и модалок*/
.title {
    width: min-content;
    display: block;
    font-size: 28px;
    padding-left: 16px;
    margin:25px 0;
    letter-spacing: -0.6px;
    white-space: nowrap;

    &::before
    {
        content: "";
        position: absolute;
        left:0px;
        width: 4px;
        height: 40px;
        background: url('img/hero/highlight.svg');
    }
}

/* Блок с круглыми кнопками */
.round-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border:none;
    padding: 0;
    margin: 0;
    transition: 0.1s ease-in;

    &.round-button--transition-scale:hover,
    &.round-button--repair-with-text:hover::after,
    &.round-button--checkstatus-with-text:hover::after {
        transform:scale(1.2);
    }

    &.round-button--burger {
        background-image: url('components/round-button/img/burger.svg');
    }

    &.round-button--call {
        background-image: url('components/round-button/img/call.svg');
    }

    &.round-button--search {
        background-image: url("components/round-button/img/search.svg");
    }

    &.round-button--chat {
        background-image: url("/components/round-button/img/chat.svg");
    }

    &.round-button--profile {
        background-image: url('components/round-button/img/profile.svg');
    }

    &.round-button--repair {
        background-image: url('components/round-button/img/repair.svg');
    }

    &.round-button--repair-with-text {
        width:auto;
    }

    &.round-button--repair-with-text::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top:0;
        right:-49px;
        background-image: url('components/round-button/img/repair.svg');
        transition: 0.1s ease-in;
    }

    &.round-button--checkstatus {
        background-image: url("components/round-button/img/checkstatus.svg");
    }

    &.round-button--checkstatus-with-text {
        width: auto;
    
    }
    &.round-button--checkstatus-with-text::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top:0;
        right:-49px;
        background-image: url('components/round-button/img/checkstatus.svg');
        transition: 0.1s ease-in;
    }

    &.round-button--close {
        background-image: url("components/round-button/img/close.svg");
    }
}

/* Блок секция для секций после hero */
.section {
    min-width: 320px;
    max-width:1120px;
    max-height: min-content;
    margin-left:auto;
    /* margin-right: auto; */
    width: 100vw;
    background-color: #f8f8f8;
    overflow:hidden;
    position:relative;
    overflow-y: hidden;

    .section__container {
        position:relative;
        padding: 16px;
    }

    .section__title {
        display: inline-block;
        width:100%;
    
        margin:0;
        padding:16px;
        background: linear-gradient(45grad, #f8f8f8, #ffffff);
        border-top:1px solid #d9fff5;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color:#7e7e82;
    }
}

/* Блок - кнопка показать все*/
.show-more-button {
    position: relative;
    padding: 24px 0 0 24px;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color:#1B1C21;

    &::before {
        content:'';
        position:absolute;
        width: 24px;
        height: 24px;
        left:-6px;
        top: 22px;
        background-image: url('img/brands/expand.svg');
    }

    &.show-more-button--rotated::before {
        rotate: 180deg;
    }

    @media screen and (max-width:400px) {
        display: none;
    }

    /* Разные брэйкпоинты у разных свайперов */
    &.show-more-button--devices{
        @media screen and (max-width:560px) {
            display: none;
        }
    }
}

/* ******************************************* */
.aside-menu
{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding:0 24px;

    box-shadow: -2px 0px 4px 
    rgba(69, 79, 126, 0.02), 
    16px 0px 52px 
    rgba(14, 24, 80, 0.2);

    &.modal {
        display: none;

        @media screen and (min-width:1440px) {
            display: flex;
            position: static;
            box-shadow: none;
            min-width:306px;

            & .round-button--close {
                display: none;
            }
        }
    }

    .aside-header
    {
        height: 51px;
        margin:0;
        margin-bottom:50.27px;
        margin-top: 18.73px;

        @media screen and (min-width: 1440px) {
            margin-top: 35px;
            margin-bottom: 43px;
        }
    }
    
    .aside-header__actions
    {
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap:16.73px;
        list-style: none;
        padding:0;
        margin:0;

        @media screen and (min-width: 1440px){
            gap:0;
            justify-content: space-between;
        }

        .lnk-logo
        {
            display: inline-block;
            width: 97px;
            height: 51px;
            background-image: url('img/aside/logo.svg');
            background-color: transparent;
        }
        
        .aside-header__item:last-of-type
        {
            margin-left: auto;
        }
        
    }
    
    .aside__nav
    {
        padding:0;
        margin: 0;

        &.nav-list
        {
            list-style: none;
            position:relative;
        }

        .nav-list__item 
        {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 32px;
            display: block;
            transition: 0.4s ease;
    
            .nav-list__link
            {
                transition: color 0.2s ease;
            }
            
            .nav-list__link:hover
            {
                color: #7E7E82;
            }
            
            &:hover::before 
            {
                content: '';
                background-image: url('img/aside/highlight.svg');
                width: 4px;
                height: 32px;
                position:absolute;
                left:-24px;
                transform: translateY(-5px);
            }
        }
    }
    
    .aside-footer
    {
        margin-top:auto;

        @media screen  and (min-width:1440px){
            margin-top: 241px;
        }

        .aside-footer__actions
        {
            list-style: none;
            margin: 0;
            padding:0;
        }
        
        .aside-footer__item
        {
            display: inline-block;
            margin:0;
            height: 40px;
            margin-right:16px;
        }
        
        .aside-footer__email
        {
            margin-top: 16px;
            margin-bottom:12px;
            font-size: 16px;
        }
        
        .aside-footer__phone
        {
            display:block;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.6px;
            margin-bottom:40px;
        }
        
        .aside-footer__langs
        {
            list-style: none;
            padding: 0;
            margin:0;
            margin-bottom:32px;

            .aside-footer__lang-item
            {
                display: inline-block;
            }
            
            .aside-footer__lang
            {
                margin:0;

                &:hover 
                {
                    color: #7E7E82;
                    cursor: pointer;
                }
            }
        }
    }

}


/* Модификатор для затенения при включенном меню aside */
.main-wrapper--transparent {
    z-index: 1;
    opacity: 0.2;
}
/* и мод отключения прокрутки затененного контента */
.body--scroll-disabled {
    overflow: hidden;
}

/* Чердак */
.header
{
    height: 88px;
    min-width: 320px;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;

    @media screen and (min-width: 1440px) {
        &{
            display:none;
        }
    }

    .header__actions
    {
        list-style: none;
        padding:0 16px;
        margin:0;
        display: flex;
        align-items: center;
        height: 100%;
        gap:16.73px;

        .header__item:not(.header__item:nth-child(2))
        {
            width: 40px;
            height: 40px;
        }
        
        .header__item:nth-child(2)
        {
            margin-right: auto;
        }
    
        .header__action
        {
            &.header__action--logo
            {
                display: block;
                width: 98px;
                height: 52px;
                background: url('img/header/logo.svg');

                &.header__action--logo::after
                {
                    content: '';
                    cursor: default;
                    display: inline-block;
                    position: relative;
                    left:calc(100% + 17px);
                    top:10px;
                    height: 32px;
                    width: 2px;
                    background-color: #eaeaea;
                    border-radius: 2px;
                }

                @media screen and (min-width:768px) and (max-width:1439px) {
                    &.header__action--logo::after{
                        display: none;
                    }
                }
            }
        }
    }
    

    @media screen and (min-width:768px) and (max-width:1439px) {


    .header__actions
    {
        padding: 0 24px;
    }

    .header__actions .header__item
    {
        display: unset;
    }

    .header__item:nth-child(2)
    {
        margin-left:26px;
    }

    .header__action--logo::before
    {
        content: '';
        cursor: default;
        display: inline-block;
        position: relative;
        left:-21px;
        top:10px;
        height: 32px;
        width: 2px;
        background-color: #eaeaea;
        border-radius: 2px;
    }

    .header__item:nth-child(6)
    {
        margin-left: calc(42px - 16.73px);
    }

    .header__item:nth-child(5)::after
    {
        content:'';
        cursor: default;
        display: inline-block;
        position: relative;
        right:calc(-100% - 20px);
        top:-100%;
        height: 32px;
        width: 2px;
        background-color: #eaeaea;
        border-radius: 2px;
    }
    }
}

/* Основная секция */
.main 
{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: #B8FFEC;
}

/* Обертка для всего кроме бокового меню */
.main-wrapper {
    background-color: #f8f8f8;
}

/* Секция 'Услуги и сервисы, вводная секция' */
.hero {
    .hero__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1082px;
    }
    
    .hero__actions {
        width: min-content;
        text-wrap: nowrap;
        list-style: none;
        display:none;
    }
    
    .hero__item {
        position:relative;
        margin-right: 48px;
    }
    
    .hero__item:nth-of-type(2){
        margin-left:32px;
    }
    
    .hero__action {
        height: 40px;
        background-color: #f8f8f8;
        color:#1b1c21;
        font-size: 16px;
        font-family: 'TT Lakes Medium';
    }
    
    .hero__action--check:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top:0;
        right:-49px;
        background: url('img/header/checkstatus.svg');
    }
    
    .hero__title
    {
        margin:25px 0;
    }
    
    .slide-menu {
        max-width: 1120px;
    
        .slide-menu::after,
        .slide-menu::before
        {
            content:'';
            position:absolute;
            height:40px;
            width:16px;
        }
        
        .slide-menu::after
        {
            right:0;
            top:89px;
            background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
        }
        
        .slide-menu::before
        {
            left:0;
            background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
        }
        
        .slide-menu__items {
            overflow-x: auto;
            display: flex;
            list-style: none;
            padding-left:16px;
            padding-right:16px;
        }
        
        .slide-menu__item {
            text-wrap: nowrap;
            height:40px;
            border:none;
            padding: 8px 0.6em;
            background: inherit;
        }
        
        .slide-menu__link {
            font-family: inherit;
            font-size: 16px;
            letter-spacing: 0.2px;
            color: #7e7e7e;
            vertical-align: middle;
        }
        
        .slide-menu__item:hover {
            background: white;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
            padding: 6px calc(0.6em - 2px);
        }
    }
    

    .hero__about-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        min-width:320px;
        max-width: 1120px;
    }
    
    .hero__about {
        margin: 0;
        padding: 8px 16px 16px 16px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;

        .hero__768-txt-part {
            display: none;
        }

        .hero__1120-txt-part {
            display: none;
        }
    }
    
    .hero__read-more {
        display: block;
        margin-top:16px;
        padding: 0;
    
        height:24px;
        border:none;
        background-color: inherit;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        cursor: pointer;
    }
    
    .hero__read-more::before
    {
        content:url("img/hero/icon.svg");
        display: inline-block;
        width:24px;
        height: 24px;
        margin-right: 8px;
        cursor: pointer;
    }

    @media screen and (min-width: 650px) {
        .hero__about-container {
            margin-bottom: 32px;
            flex-direction: row;  
            justify-content: space-between;
            padding-left:24px;
            padding-right: 24px;
            padding-top: 16px;    
            gap:10px;
        }
    
        .hero__about {
            width: 312px;
            padding:0;
            line-height:20px;
        }
    
        .hero__about .hero__768-txt-part {
            display: inline;
        }
    
        .hero__pic {
            height: 208px;
            width: 360px;
            border-radius: 5px;
        }
    }

    @media screen and (min-width: 900px){
        .hero__pic {
            height: 307px;
            width: 531px;
        }
    }

    @media screen and (min-width:768px){
        .hero__title
        {
            padding-left: 24px;
            margin-bottom:32px;
        }

        .hero__about-container {
            padding-left:35px;
            padding-right:35px;
        }
    }

    @media screen and (min-width:1000px) {
        .hero__about .hero__1120-txt-part {
            display: inline;;
        }
    }

    @media  screen and (min-width:1440px) {

        .hero__about {
            width: 490px;
        }
    
        .hero__actions {
            display: flex;
            margin-top: 40px;
        }
    
        .slide-menu {
            overflow-x: hidden;
            margin-left:18px;
        }
    
        .slide-menu__items {
            flex-wrap: wrap;
        }
    
    
        .hero__title
        {
            padding-left:33px;
            margin-top:42px;
            margin-bottom: 8px;
        }
    
        .hero__about-container {
            padding-left:35px;
            padding-right:35px;
            margin-bottom: 51px;
        }
    }
}

/* Секция 'Ремонт техники различных брендов' */
.brands {    
    min-height: 220px;

    .brands__list {
        display: flex;
        flex-direction: row;
        gap:16px;    
        margin: 16px;
    }
    
    .brands__item {
        height: 72px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 6px;
    }

    .swiper-slide__link--brands {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        width: 240px;
    }
    
    .swiper-brands:after,
    .swiper-brands:before {
        content: '';
        width:35px;
        height: 70px;
        position:absolute;
        background: linear-gradient(90grad, transparent, white);
        right:-2px;
        top:17px;
        z-index: 1;
        filter:blur(2px);
    }
    
    .swiper-brands:before {
        width: 24px;
        top: 15px;
        left: -1px;
        z-index: 2;
        background: linear-gradient(270deg, transparent, white);
    }
    
    .swiper-slide--brands {
        justify-content: center;
        align-items: center;
    
        width: 240px;
        height: 72px;
    }
    
    @media screen and (min-width: 400px){
        .brands__title {
            height: 56px;
        }
    
        .brands__my-swiper {
            padding:0;
        }

        /*** Переключение свайпера на обычный флекс переопределением стилей wrapper-а. Также, пришлось переопределить инлайновый transform здесь. */
        .swiper-wrapper--brands,
        .swiper-wrapper--devices {
            display: flex;
            flex-wrap: wrap;
            transform: unset !important;
        }

        .swiper {
            height: unset;
        }

        .brands__my-swiper:after {
            display:none;
        }
    
        .brands__my-swiper:before {
            display:none;
        }
    
        .show-more-button {
            display: block;
        }
    }

    @media screen and (min-width: 400px) and (max-width:1119px) {

        .swiper-wrapper--brands {
            gap: 16px 24px;
        }
    
        .swiper-slide--brands {
            width: 224px;
        }
    }

    @media screen and (min-width: 1120px) {
        .swiper-wrapper--brands {
            gap: 16px 32px;
        }
    }
}

/* Секция 'Ремонт различных видов техники' */
.devices {

    .swiper-slide__go {
        align-self: flex-end;
        margin-right:16px;
        margin-bottom: 16px;
    }
    
    .swiper-slide--devices {
        width: 240px;
        height: 160px;
    }
    
    .swiper-slide__link--devices {
        display: flex;
        width:100%;
        justify-content: space-between;
    }
    
    .swiper-slide__device-name {
        font-family: 'TT Lakes Medium';
        text-wrap: nowrap;
        padding-top: 16px;
        padding-left: 16px;
        align-self: flex-start;
    }

    @media screen and (min-width:540px) and (max-width: 1119px){
        .swiper-wrapper--devices{
            gap:16px 24px;
            flex-wrap:wrap;
        }
    }
    
    @media screen and (min-width:540px) {
        .show-more-button {display: block;}
    }

    @media  screen and (min-width: 1120px) {
        .swiper-wrapper--devices {
            gap: 16px 32px;
        }
    }
}

/* Секция 'Цены на услуги' */
.services {

    .swiper-services {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }
    
    .services__my-swiper {
        margin-left: -8px;
        margin-right: -8px;
    }

    .swiper-services__caption {
        display:none;
    }
    
    .swiper-slide__title
    {
        color:#7E7E82;
        margin-top: 16px;;
    }
    
    .swiper-slide__title:first-of-type {margin-top: 0;}
    
    .swiper-slide__link--services {
        width: 119px;
        height: 32px;
        background: url('img/services/buy.png') no-repeat;
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
    
    
    .swiper-slide--services {
        display: block;
        width: 260px;
        height: 200px;
        padding: 16px;
    }
    
    .services__disclaimer {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 16px;
        max-width: 421px;
    }
    
    .services__link {
        font-family: 'TT Lakes Medium';
        margin-bottom: 25px;
        display: inline-block;
    }
    
    .services__link::after{
        content: '';
        background: url(img/services/Line.svg) no-repeat;
        width: 11px;
        height: 11px;
        display: inline-block;
        margin-left: 6px;
    }

    @media screen and (min-width: 560px) {
    
        .swiper-slide__title {display: none;}
    
        .swiper-services__caption {
            display: flex;
            flex-direction: row;
            width:100%;
            justify-content: space-between;
        }
    
        .swiper-wrapper--services {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 5px;
        }
    
        .swiper-slide--services {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            width: auto;
            height: 64px;
    
            border: none;
            border-bottom: 1px #eaeaea solid;
            border-radius: 0;
    
            text-align: left;
    
            padding-left: 0;
            padding-right: 0;
            margin-left: 16px;
            margin-right: 16px;
        }
    
        .swiper-slide--services:last-of-type{
            border-bottom: none;
        }
    
        .swiper-slide__service,
        .swiper-services__caption-service {
            width: 50%;
            flex-shrink: 1;
        }
    
        .swiper-slide__price,
        .swiper-services__caption-price {
            width: max(10%, 72px);
        }
    
        .swiper-slide__duration,
        .swiper-services__caption-duration {
            width: 12%;
            text-align: left;
        }
    
        .swiper-services__caption {
            padding:0 16px 16px 16px;
            align-items: flex-end;
            color:#7e7e82;
        }
    
        .swiper-services__caption-filler {
            width: 119px;
            height: 32px;
        }
        
    
        .swiper-slide__link--services {
            position: static;
        }
    }
}

/* Подвал */
.footer {
    font-size: 14px;
    border-top: 1px solid #D9FFF5;
    color:#7E7E82;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 19px;
    gap:16px;
    align-items: center;
    text-align: center;

    .footer__developer {
        white-space: nowrap;
        text-align: center;
        flex-shrink: 1;
    }

    .footer__disclaimer {
        text-align: center;
    }

    @media screen and (min-width:500px) {
        & {
            flex-direction: row;
            padding: 32px 24px 25px 24px;
            align-items: center;
        }

        .footer__developer,
        .footer__confidential-rules,
        .footer__disclaimer {
            width: 33%;
        }

        .footer__disclaimer {
            text-align: right;
        }
        .footer__developer {
            text-wrap: wrap;
            text-align: left;
        }
    }
}


/**      Служебные классы  и медиа-запросы со служебными классами hidden- и контейнером body .container  */

.body .hidden,
.body.hidden-320px {
    display: none;
}


@media screen and (min-width: 400px) and (max-width:1119px) {
    .hidden-768px,
    .hidden-1120px {
        display: none;
    }
}

@media screen and (min-width: 1120px) {

    .hidden-1120px {
        display: none;
    }
}


@media screen and (min-width:1120px)
{
    .body__container {
        width:1120px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: 1440px)
{
    .body__container {
        width: 1440px;
        display: flex;
        flex-direction: row;
    }
}



/* #region ШРИФТЫ */
@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.ttf') format("truetype");
    font-weight:normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.ttf') format("truetype");
    font-weight:bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Thin.ttf') format("truetype");
    font-weight:300;
    font-style: italic;
}

@font-face 
{
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.woff') format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* #endregion */