.page
{
    font-family: 'TT Lakes';
    margin: 0;
    /* background-color: #f8f8f8; */
}

/* #region SWIPER CSS-PROPS*/

:root {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: #979797;
    --swiper-pagination-bullet-horizontal-gap:6px;
    --swiper-pagination-top:12px;
}

.swiper-slide {
    background: #fff;
    display: flex;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.swiper-pagination {
    position:relative;
}

/* #endregion */


/* Модификатор для затенения при включенном меню aside */
.main-wrapper--transparent {
    z-index: 1;
    opacity: 0.2;
}
/* и мод отключения прокрутки затененного контента */
.page--scroll-disabled {
    overflow: hidden;
}


/* Основная секция */
.main 
{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: #B8FFEC;

}

/* Обертка для всего кроме бокового меню */
.main-wrapper {
    background-color: #f8f8f8;
}


.page .hidden,
.page .hidden-320px {
    display: none;
}


@media screen and (min-width: 400px) and (max-width:1119px) {
    .hidden-768px,
    .hidden-1120px {
        display: none;
    }
}

@media screen and (min-width: 1120px) {

    .hidden-1120px {
        display: none;
    }

    .page__container {
        width:1120px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: 1440px)
{
    .page__container {
        width: 1440px;
        display: flex;
        flex-direction: row;
    }
}



/* #region ШРИФТЫ */
@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.ttf') format("truetype");
    font-weight:normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.ttf') format("truetype");
    font-weight:bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Thin.ttf') format("truetype");
    font-weight:300;
    font-style: italic;
}

@font-face 
{
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.woff') format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* #endregion */