/* Секция 'Цены на услуги' */
.services {
    .section__container {
        padding: 31px 24px 47px 24px;
    }

    .services__disclaimer {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 16px;
        max-width: 421px;
    }
    
    .services__link {
        font-family: 'TT Lakes Medium';
        display: inline-block;
    }
    
    .services__link::after{
        content: '';
        background: url('img/line.svg') no-repeat;
        width: 11px;
        height: 11px;
        display: inline-block;
        margin-left: 6px;
        transition: 0.5s ease-out;
    }

    .services__link:hover::after {
        transform: translateX(5px);
    }
}