
/* Чердак */
.header
{
    height: 88px;
    min-width: 320px;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;

    @media screen and (min-width: 1440px) {
        display:none;
    }

    .header__actions
    {
        list-style: none;
        padding:0 16px;
        margin:0;
        display: flex;
        align-items: center;
        height: 100%;
        gap:16.73px;

        .header__item:not(.header__item:nth-child(2))
        {
            width: 40px;
            height: 40px;
        }
        
        .header__item:nth-child(2)
        {
            margin-right: auto;
        }
    
        .header__action
        {
            &.header__action--logo
            {
                display: block;
                width: 98px;
                height: 52px;
                background: url('img/logo.svg');

                &.header__action--logo::after
                {
                    content: '';
                    cursor: default;
                    display: inline-block;
                    position: relative;
                    left:calc(100% + 17px);
                    top:10px;
                    height: 32px;
                    width: 2px;
                    background-color: #eaeaea;
                    border-radius: 2px;
                }

                @media screen and (min-width:768px) and (max-width:1439px) {
                    &.header__action--logo::after{
                        display: none;
                    }
                }
            }
        }
    }
    

    @media screen and (min-width:768px) and (max-width:1439px) {


    .header__actions
    {
        padding: 0 24px;
    }

    .header__actions .header__item
    {
        display: unset;
    }

    .header__item:nth-child(2)
    {
        margin-left:26px;
    }

    .header__action--logo::before
    {
        content: '';
        cursor: default;
        display: inline-block;
        position: relative;
        left:-21px;
        top:10px;
        height: 32px;
        width: 2px;
        background-color: #eaeaea;
        border-radius: 2px;
    }

    .header__item:nth-child(6)
    {
        margin-left: calc(42px - 16.73px);
    }

    .header__item:nth-child(5)::after
    {
        content:'';
        cursor: default;
        display: inline-block;
        position: relative;
        right:calc(-100% - 20px);
        top:-100%;
        height: 32px;
        width: 2px;
        background-color: #eaeaea;
        border-radius: 2px;
    }
    }
}