
/* ******************************************* */
.aside-menu
{
    display: none;

    flex-direction: column;
    width: 320px;
    padding:0 24px;

    position: fixed;
    z-index:2;
    height: 100%;
    margin: 0;
    background-color: white;

    box-shadow: -2px 0px 4px 
    rgba(69, 79, 126, 0.02), 
    16px 0px 52px 
    rgba(14, 24, 80, 0.2);

    @media screen and (min-width:1440px) {
        display: flex;
        position: static;
        box-shadow: none;
        width:306px;

        & .action-button--close {
            display: none;
        }
    }

    & .aside-header
    {
        height: 51px;
        margin:0;
        margin-bottom:50.27px;
        margin-top: 18.73px;

        @media screen and (min-width: 1440px) {
            margin-top: 35px;
            margin-bottom: 43px;
        }
    }
    
    & .aside-header__actions
    {
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap:16.73px;
        list-style: none;
        padding:0;
        margin:0;

        @media screen and (min-width: 1440px){
            gap:0;
            justify-content: space-between;
        }

        & .lnk-logo
        {
            display: inline-block;
            width: 97px;
            height: 51px;
            background-image: url('img/logo.svg');
            background-color: transparent;
        }
        
        & .aside-header__item:last-of-type
        {
            margin-left: auto;
        }
        
    }
    
    & .aside__nav
    {
        padding:0;
        margin: 0;

        &.nav-list
        {
            list-style: none;
            position:relative;
        }

        & .nav-list__item 
        {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 32px;
            display: block;
            transition: 0.4s ease;
    
            & .nav-list__link
            {
                transition: color 0.2s ease;
            }
            
            & .nav-list__link:hover
            {
                color: #7E7E82;
            }
            
            &:hover::before 
            {
                content: '';
                background-image: url('img/highlight.svg');
                width: 4px;
                height: 32px;
                position:absolute;
                left:-24px;
                transform: translateY(-5px);
            }
        }
    }
    
    .aside-footer
    {
        margin-top:auto;

        @media screen  and (min-width:1440px){
            margin-top: 241px;
        }

        & .aside-footer__actions
        {
            list-style: none;
            margin: 0;
            padding:0;
        }
        
        & .aside-footer__item
        {
            display: inline-block;
            margin:0;
            height: 40px;
            margin-right:16px;
        }
        
        & .aside-footer__email
        {
            margin-top: 16px;
            margin-bottom:12px;
            font-size: 16px;
        }
        
        & .aside-footer__phone
        {
            display:block;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.6px;
            margin-bottom:40px;
        }
        
        & .aside-footer__langs
        {
            list-style: none;
            padding: 0;
            margin:0;
            margin-bottom:32px;

            & .aside-footer__lang-item
            {
                display: inline-block;
            }
            
            & .aside-footer__lang
            {
                margin:0;

                &:hover 
                {
                    color: #7E7E82;
                    cursor: pointer;
                }
            }
        }
    }

}