$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-small: 1120px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
$breakpoint-swiper-off: 600px;

$main-background-color:#F8F8F8;
$secondary-background-color:#eaeaea;
$text-hover-color-gray:#7E7E82;
$text-color:#1B1C21;
$text-and-border-gray-color: #7e7e7e;
$text-placeholder-color:#b5b6bc;
$text-modal-link-color: #ff3e79;

$font-size-small:14px;
$font-size-default:16px;
$font-size-medium:24px;
$font-size-large:28px;