/* Секция 'Ремонт техники различных брендов' */
.brands {    
    min-height: 220px;

    .brands__my-swiper {
        margin-bottom: 24px;
    }

    .expand-button {
        display: none;
    }
    
    @media screen and (min-width: 600px){

        & .section__container {
            min-height: 288px;
        }

        .brands__title {
            height: 56px;
        }

        .expand-button {
            display:unset;
        }
    }
}