/* Секция 'Ремонт различных видов техники' */
.devices {
    .devices__swiper {
        margin-bottom: 24px;
    }

    .expand-button {
        display: none;
    }


    @media screen and (min-width:600px) {
        .section__container {
            min-height: 288px;
        }

        .expand-button {
            display: unset;
        }
    }
}