@use '../utils/vars.scss' as *;
/* Секция 'Ремонт техники различных брендов' */
.brands {    

    .brands__my-swiper {
        margin-bottom: 24px;
    }

    .expand-button {
        display: none;
    }
    
    @media screen and (min-width: calc($breakpoint-tablet - 168px)){

        .brands__title {
            height: 56px;
        }

        .expand-button {
            display:unset;
        }
    }
}