@use '../utils/vars.scss' as *;

/* Модификатор для затенения при включенном меню aside,
отключение кликабельности затененного контента */
.transparent {
    z-index: 1;
    opacity: 0.2;
    pointer-events: none;
}

/* и модификатор отключения прокрутки затененного контента */
.scroll-disabled {
    overflow: hidden;
}


/* Классы для отображения/скрытия контента */
.page .page__container .show {
    display: flex;
}

.page .show {
    display: block;
}

.page .page__container .main-wrapper .hidden {
    display: none;
}

.page
{
    font-family: "TT Lakes";
    margin: 0;

    & .main-wrapper {
        background-color: $main-background-color;
    
        & .main 
        {
            position: relative;
            display: flex;
            flex-direction: column;
            border-bottom: #B8FFEC;
        }
    }
}


@media screen and (min-width: calc($breakpoint-mobile + 80px)) and (max-width:calc($breakpoint-desktop-small - 1px)) {
    .page .hidden-768px,
    .page .hidden-1120px {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-desktop-small) {

    .page .hidden-1120px {
        display: none;
    }

    .page__container {
        width:1120px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: $breakpoint-desktop-large) {
    
    .page__container {
        width: 1440px;
        display: flex;
        flex-direction: row;
    }
}