@use '../utils/vars.scss' as *;
/* Блок секция для секций после hero */
.section {
    min-width: 320px;
    max-width:1120px;
    max-height: min-content;
    margin-left:auto;
    width: 100vw;
    background-color: $main-background-color;
    overflow:hidden;
    position:relative;
    overflow-y: hidden;

    .section__container {
        position:relative;
        padding: 16px;
    }

    .section__title {
        display: inline-block;
        width:100%;
    
        margin:0;
        padding:16px;
        background: linear-gradient(45grad, $main-background-color, #ffffff);
        border-top:1px solid #d9fff5;
        text-transform: uppercase;
        font-size: $font-size-default;
        font-weight: 400;
        color:$text-hover-color-gray;
    }
}
